:root{
    --defaultBtnColor: #0E8784;
    --hoverBtnColor: #66D2CF;
    --disabledBtnColor: #E2DEDB; 
}
button{
    width: 200px;
    height: 30px;
    background-color: var(--defaultBtnColor);
    border: none;
}

button:hover{
    background-color: var(--hoverBtnColor);
}

body{
    color: #0E8784;
}


